<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Flask Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Reflection Webpage</title>
</head>
<body>
    <div class="topnav">
        <div class="navbar">
            <a class="active" id='muji' href="#home">Reflection</a>
            <a>&emsp;|&emsp;</a>
            <a href="message" id="muji">Message</a>
        </div>
    </div>
    <div class="page">
        <h1>Final Reflection</h1>
        <div class="ref">    
            <h3>Things I Learned | (Good, Bad & Personal Goals)</h3>
            <ul class="fa-ul">
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Integrating API endpoints in the backend</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Integrating MongoDB Local and Server with API endpoints to serve dynamic data</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;MongoDB Queries, SQL Queries, Flask syntax & VScode integration with git/github</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Deploying Sites in Heroku, AWS ec2 or Netlify</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Met Personal Goals such as exploring areas of interest, improving interpersonal skills, working on database schemas and data throughout the semester</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Understanding the progress and integrating the documentation from previous semester would have been helpful</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Session on Git/Github and UX/UI design was very informative</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Also gained hands on experience working on a team, satisfying stakeholders, and programming a practical software</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Using Agile methodology to document, divide, manage and complete tasks through sprints would have been better</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Got to meet new people, network with them and develop interpersonal as well as technical skills</li>
            </ul>
            <h3>Things To Improve | (Next Semester Goals)</h3>
            <ul class="fa-ul">
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Further explore areas of interest in Mobile Application Development, UX/UI and HCI</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Try to join in person meeting as much as possible to meet new people and network</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;The backend girhub repository needs to be properly set with proper guidelines, branches and issues for future semesters</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;Subteam should be further divided into task specific subteams to ensure smoother integration</li>
                <li><i class="fa fa-cog fa-spin" style="color:#a52a2a"></i>&emsp;All the meeting minutes should be converted into a proper guideline/document mentioning progress done during each meeting that can be referred to in future semesters</li>
            </ul>
        </div>
    </div>
</body>
</html>